body {
  background-color: black;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 150px 1fr;

  width: 100vw;
  height: 100vh;
  border: 2px solid white;
}

.rightContainer {
  padding-right: 30px;
  border: 2px solid white;
}

.digital {
  grid-column-start: 2;
  font-family: "digital", Arial, sans-serif;
  line-height: 1;
  font-weight: 900;
  font-style: 900;
  color: #83cafe;
  margin-right: 20px;
  max-height: 98vh;
  text-align: right;
  border: 2px solid white;
  margin-top: 40px;
  margin-left: 50px;
}

#goButton {
  display: block;
}

.btn {
  grid-column-start: 1;
  background-color: black;
  border: 2px solid lightblue;
  border-radius: 3px;
  color: lightblue;
  margin: 10px;
  height: 30px;
}

.btnYellow {
  grid-column-start: 1;
  background-color: #ffcc00;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  margin: 10px;
  height: 30px;
}

.btnOrange {
  grid-column-start: 1;
  background-color: orange;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  margin: 10px;
  height: 30px;
}

.btnRed {
  grid-column-start: 1;
  background-color: red;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  margin: 10px;
  height: 30px;
}

input {
  margin: 10px;
  max-width: 70px;
  height: 30px;
  background-color: lightgrey;
}

label {
  margin-left: 10px;
}

.buttonsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seconds {
  font-size: 50px;
  text-align: right;
  margin-right: 50px;
  color: lightblue;
}

.spacerDiv {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
