body {
  background-color: black;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;

  width: 100vw;
  height: 100vh;
  border: 2px solid white;
}

.leftContainer {
  max-width: 200px;
}

.digital {
  grid-column-start: 2;
  font-family: "digital", Arial, sans-serif;
  font-size: 100vh;
  line-height: 0.8;
  font-weight: 900;
  font-style: 900;
  color: #83cafe;
  margin-right: 20px;
  border: 2px solid white;
  max-height: 98vh;
  text-align: right;
}

#goButton {
  display: block;
}

.btn {
  grid-column-start: 1;
  background-color: black;
  border: 2px solid lightblue;
  border-radius: 3px;
  color: lightblue;
  margin: 10px;
  height: 30px;
}

input {
  margin: 10px;
  max-width: 150px;
  height: 30px;
}

.buttonsHolder {
  display: flex;
  flex-direction: row;
}
